* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
/* float로도 가능 */
/* 모든 디바이스 */
.container {
  background: silver;
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
  padding: 12px;
}
div[class*="group"] {
  width: 100%;
}
.box {
  margin: 12px;
  height: 150px;
}
/* 768px 이상일 때 */
@media (min-width: 768px) {
  div[class*="group"] {
    width: 50%;
  }

  div.group1, div.group4 {
    width: 100%;
  }
}
/* 1280px 이상일 때 */
@media (min-width: 1280px) {
  div[class*="group"] {
    width: 25%;
  }
  div.group2 {
    /* 초기값: 0 */
    order: 1;
  }
  div.group1, div.group12 {
    width: 75%;
  }
}
.group1 .box{
  background: gold;
}
.group2 .box{
  background: pink;
}
.group3 .box{
  background: lightgreen;
}
.group4 .box{
  background: skyblue;
}
.group5 .box{
  background: salmon;
}
.group6 .box{
  background: violet;
}
.group7 .box{
  background: aquamarine;
}
.group8 .box{
  background: lightseagreen;
}
.group9 .box{
  background: MediumPurple;
}
.group10 .box{
  background: MidnightBlue;
}
.group11 .box{
  background: Olive;
}
.group12 .box{
  background: SandyBrown;
}