:root {
  --white: #fff;
  --black: #000;
  --silver: #767676;
  --dark-brown: #38302e;
  --light-brown: #988574;
  --light-yellow: #ffc;
  --yellow-opacity: hsla(60, 50%, 50%, 0.85);

  --green: #abd375;
  --yellow: #e8ca58;
  --orange: #eea60a;
  --brown: #988574;
  --blue: #6aaee6;

  --primary-color: var(--dark-brown);
  --secondary-color: var(--light-brown);
  --accent-color: var(--light-yellow);
  --accent-opacity-color: var(--yellow-opacity);

  --accent-book: var(--green);
  --accent-news: var(--yellow);
  --accent-board: var(--brown);
  --accent-favorite: var(--orange);
  --accent-twitter: var(--blue);

  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 0.75rem; /* 12px */
  --spacing-base: 1rem; /* 16px */
  --spacing-md: 1.25rem; /* 20px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-md: 1.125rem; /* 18px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */

  --container-width: 64rem; /* 1024px */
}
